body{
  margin: 0;
  overflow-y: scroll;
}

.App{
  width: 480px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
  border: solid 1px black;
}

/*default font*/
p{
  font-family: 'Noto Sans KR', sans-serif;
}

/*BottomNav*/
.container-bottomNav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 0;
  width: 480px;
  background-color: #FFFFFF;

  margin: 0;
  img{
    width: 120px;
  }
}

/* --------------------------BottomNav1--------------------------- */
/* swiperapper */
.swiper-wrapper{
  margin-top: 30px;
 }
 .swiper-wrapper2{
   margin-top: 10px;
  }

/* --------------------------BottomNav2--------------------------- */
/* writeBtn */
.WriteBtn-BottomNav2{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 90px;
  right: 485px;
}

/*Header*/
.header-BottomNav2{
  height: 40px;
  .title-header{
    font-size: 18px;
    font-weight: 600;
  }
}

/*Ranking*/
.container-reviewRanking{
  height: 275px;
  background-color: #f6f6f6;
  margin-bottom: 36px;
}
.title-reviewRanking{
  height: 70px;
  font-size: 20px;
  font-weight: 700;
  color: #ffba35;
  p{
    padding-top: 10px;
  }
}
.contents-reviewRanking{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-rankFirst{
  position: relative;
  width: 137px;
  height: 172px;
}
.section-rank{
  position: relative;
  width: 127px;
  height: 159.45px;
}
.rankfirst{
  position: absolute;
  top: -35px;
  left: -15px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #FFBA35;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 28px;
}
.rankSecond{
  position: absolute;
  top: -35px;
  left: -15px;
  width: 33.37px;
  height: 33.37px;
  border-radius: 100%;
  background-color: #b9b9b9;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 28px;
}
.rankThird{
  position: absolute;
  top: -35px;
  left: -15px;
  width: 33.37px;
  height: 33.37px;
  border-radius: 100%;
  background-color: #d2a57b;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 28px;
}
.detail-firstRank{
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 122px;
  height: 170px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1.5px solid #FFBA35;
}
.detail-rank{
  width: 113.09px;
  height: 160px;
  border-radius: 9.27px;
  background-color: #FFFFFF;
  border: 1.5px solid #FFBA35;
}
.img-ranking{
  width: 68px;
  height: 68px;
  border-radius: 100%;
  margin-top: 10px;
}
.name{
  height: 19px;
  font-size: 14px;
  font-weight: 600;
}
.likes{
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

/*Review-timeline*/
.container-timeline{
  margin-top: 36px;
  margin-bottom: 100px;
}
.title-timeline{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 30px;
  text-align: left;
}
.title-timeline2{
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 10px;
  text-align: left;
}
.menuBtnSection-timeline{
  display: flex;
  margin-left: 30px;
  button{
    width: 74px;
    height: 33px;
    border-radius: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 3%;
  }
}
.menuBtnSection-timeline2{
  display: flex;
  margin-right: 20px;
  button{
    width: 74px;
    height: 33px;
    border-radius: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 4%;
    
    
  }
}
.btn-timeline{
  border: 1px solid #dbdbdb;
  background-color: #FFFFFF;
  color: #767676;
}
.btnActive-timeline{
  border: 1px solid #FFBA35;
  background-color: #FFF8EC;
  color: #FFBA35;
}
/*review*/
.container-review{
  display: flex;
  width: 420px;
  height: 180px;
  border-radius: 10px;
  background-color: #D9D9D9;
  margin: 0 auto;
  margin-top: 20px;
}
.contents-review{
  width: 400px;
  height: fit-content;
  margin-left: 20px;
  text-align: left;
  color: #FFFFFF;
}
.name-review{
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 14px;
  margin-bottom: 0;
}
.topReview-review{
  border-left: 1px solid;
  padding-left: 10px;
}
.txt-review{
  width: 250px;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
}
.userDetail-review{
  font-size: 14px;
  font-weight: 500;
  line-height: 19.07px;
}
.likes-review{
  width: fit-content;
  height: fit-content;
  margin-top: 110px;
  text-align: center;
  img{
    margin: 0;
    width: 37px;
    height: 37px;
  }
  p{
      margin: 0;
  }
  margin-right: 15px;
}

/* --------------------------WriteReview--------------------------- */
/* Header */
.header-WriteReview{
  height: 40px;
  display: flex;
  justify-content: left;
  img{
    margin-top: 20px;
    margin-left: 27px;
    width: 26px;
    height: 26px;
  }
  .title-header{
    font-size: 18px;
    font-weight: 600;
    width: 230px;
    height: 26px;
    margin-top: 20px;
    margin-left: 72px;

  }
}
