body {
  margin: 0;
  overflow-y: scroll;
}

.App {
  width: 480px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;
  border: solid 1px black;
}

/*default font*/
p {
  font-family: "Noto Sans KR", sans-serif;
}

/*BottomNav*/
.container-bottomNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  bottom: 0;
  width: 480px;
  background-color: #ffffff;

  margin: 0;
  img {
    width: 120px;
  }
}

/* --------------------------BottomNav1--------------------------- */
/* swiperapper */
.swiper-wrapper {
  margin-top: 30px;
}
.swiper-wrapper2 {
  margin-top: 10px;
}

/* --------------------------BottomNav2--------------------------- */
/* writeBtn */
.WriteBtn-BottomNav2 {
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 90px;
  right: 485px;
}

/*Header*/
.header-BottomNav2 {
  height: 40px;
  .title-header {
    font-size: 18px;
    font-weight: 600;
  }
}

/*Ranking*/
.container-reviewRanking {
  height: 275px;
  background-color: #f6f6f6;
  margin-bottom: 36px;
}
.title-reviewRanking {
  height: 70px;
  font-size: 20px;
  font-weight: 700;
  color: #ffba35;
  p {
    padding-top: 10px;
  }
}
.contents-reviewRanking {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.section-rankFirst {
  position: relative;
  width: 137px;
  height: 172px;
}
.section-rank {
  position: relative;
  width: 127px;
  height: 159.45px;
}
.rankfirst {
  position: absolute;
  top: -35px;
  left: -15px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #ffba35;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 28px;
}
.rankSecond {
  position: absolute;
  top: -35px;
  left: -15px;
  width: 33.37px;
  height: 33.37px;
  border-radius: 100%;
  background-color: #b9b9b9;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 28px;
}
.rankThird {
  position: absolute;
  top: -35px;
  left: -15px;
  width: 33.37px;
  height: 33.37px;
  border-radius: 100%;
  background-color: #d2a57b;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 28px;
}
.detail-firstRank {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 122px;
  height: 170px;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1.5px solid #ffba35;
}
.detail-rank {
  width: 113.09px;
  height: 160px;
  border-radius: 9.27px;
  background-color: #ffffff;
  border: 1.5px solid #ffba35;
}
.img-ranking {
  width: 68px;
  height: 68px;
  border-radius: 100%;
  margin-top: 10px;
}
.name {
  height: 19px;
  font-size: 14px;
  font-weight: 600;
}
.likes {
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

/*Review-timeline*/
.container-timeline {
  margin-top: 36px;
  margin-bottom: 100px;
}
.title-timeline {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 30px;
  text-align: left;
}
.title-timeline2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-left: 10px;
  text-align: left;
}
.menuBtnSection-timeline {
  display: flex;
  margin-left: 30px;
  button {
    width: 74px;
    height: 33px;
    border-radius: 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 3%;
  }
}
.menuBtnSection-timeline2 {
  display: flex;
  margin-right: 20px;
  button {
    width: 74px;
    height: 33px;
    border-radius: 40px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-left: 4%;
  }
}
.btn-timeline {
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  color: #767676;
}
.btnActive-timeline {
  border: 1px solid #ffba35;
  background-color: #fff8ec;
  color: #ffba35;
}
/*review*/
.container-review {
  display: flex;
  width: 420px;
  height: 180px;
  border-radius: 10px;
  background-color: #d9d9d9;
  margin: 0 auto;
  margin-top: 20px;
}
.contents-review {
  width: 400px;
  height: fit-content;
  margin-left: 20px;
  text-align: left;
  color: #ffffff;
}
.name-review {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 14px;
  margin-bottom: 0;
}
.topReview-review {
  border-left: 1px solid;
  padding-left: 10px;
}
.txt-review {
  width: 250px;
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
}
.userDetail-review {
  font-size: 14px;
  font-weight: 500;
  line-height: 19.07px;
}
.likes-review {
  width: fit-content;
  height: fit-content;
  margin-top: 110px;
  text-align: center;
  img {
    margin: 0;
    width: 37px;
    height: 37px;
  }
  p {
    margin: 0;
  }
}

/* --------------------------WriteReview--------------------------- */
/* Header */
.header-WriteReview {
  height: 66px;
  display: flex;
  justify-content: left;
  img {
    margin-top: 20px;
    margin-left: 27px;
    width: 26px;
    height: 26px;
  }
  .title-header {
    font-size: 18px;
    font-weight: 600;
    width: 230px;
    height: 26px;
    margin-top: 20px;
    margin-left: 72px;
  }
}
/* SearchStore */
.searchStore-WriteReview {
  margin-top: 30px;
  .beforeSearch-SearchStore {
    img {
      width: 420px;
      height: 108px;
    }
  }
}
.searchModal-SearchStore{
  position: fixed;
  bottom: 0;
  width: 480px;
  height: 465px;
  background-color: #FFFFFF;
  border-top: 1px solid;
  border-color: #00000040;
  border-radius: 20px;
  text-align: left;
  .title-SearchModal{
    font-weight: 600;
    font-size: 18px;
  }
}
.txt-SearchModal{
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 4px solid #f6f6f6;
}
.search-SearchModal{
  display: flex;
  flex-direction: row;
  width: 420px;
  height: 42px;
  border-radius: 40px;
  background-color: #f6f6f6;
  img{
    margin: 10px
  }
}
.input-SearchModal{
  width: 350px;
  height: 19px;
  font-size: 14px;
  font-weight: 500;
  color: #767676;
  border: none;
  outline: none;
  background-color: #f6f6f6;
  margin-top: 10px;
  margin-bottom: 10px;
}
.unknownStore-SearchModal{
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  .info-unknownStore{
    margin: 0;
    display: flex;
    font-weight: 600;
    font-size: 18px;
    height: 25px;
  }
  .txt-unknownStore{
    margin-top: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #c0c0c0;
  }
}
.btn-SearchModal{
  position: fixed;
  bottom: 0;
  width: 450px;
  height: 42px;
  padding: 15px;
  border-top: 4px solid #f6f6f6;
  button{
    width: 210px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    margin-left: 10px;
  }
}
.closeBtn-SearchModal{
  background-color: #f6f6f6;
  color: #191919;
}
.submitBtn-SearchModal{
  background-color: #FFBA35;
  color: #FFFFFF;
}
/* StarRating */
.starRating-WriteReview {
  margin-top: 50px;
  margin-left: 30px;
  justify-content: left;
  .txt-starRating {
    display: flex;
    width: 397px;
    height: 25px;
    font-weight: 600;
    font-size: 18px;
  }
  .stars-starRating {
    display: flex;
    height: 58px;
    margin: 0;
    margin-top: 25px;
    img {
      width: 60px;
      height: 57.71px;
      margin-right: 10px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 21.79px;
      text-align: right;
      color: #767676;
      margin-left: 10px;
      margin-top: 30px;
    }
  }
}
/* selectBenefit */
.selectBenefit-WriteReview {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: left;
  .txt-selectBenefit {
    display: flex;
    width: 397px;
    height: 25px;
    font-weight: 600;
    font-size: 18px;
  }
}
.container-selectBenefit {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  margin-top: 30px;
  button {
    height: 33px;
    border-radius: 40px;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 15px;
  }
}
.btn-selectBenefit {
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
  color: #767676;
}
.btnActive-selectBenefit {
  border: 1px solid #ffba35;
  background-color: #ffba35;
  color: #ffffff;
}
/* WriteTxt */
.writeTxt-WriteReview {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: left;
  .txt-writeTxt {
    display: flex;
    width: 397px;
    height: 25px;
    font-weight: 600;
    font-size: 18px;
  }
}
.txtArea-writeTxt {
  margin-top: 30px;
  width: 420px;
  height: 268px;
  background-color: #f6f6f6;
  border-radius: 10px;
}
.txtBox-writeTxt {
  outline: none;
  margin: 15px;
  width: 390px;
  height: 238px;
  background-color: #f6f6f6;
  border: none;
  resize: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
/* UploadImg */
.uploadImg-WriteReview {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: left;
  .txt-uploadImg {
    display: flex;
    align-items: baseline;
    width: 397px;
    height: 25px;
    .title-uploadImg {
      font-weight: 600;
      font-size: 18px;
    }
    .detail-uploadImg {
      margin-left: 10px;
      font-weight: 500;
      font-size: 14px;
      color: #767676;
    }
  }
}
.img-uploadImg {
  display: flex;
  margin-top: 30px;
  .uploadBtn-uploadImg {
    width: 132px;
    height: 132px;
    outline: none;
    border: none;
  }
}
/* SubmitBtn */
.btn-writeReview{
  margin-top: 100px;
  button{
    width: 420px;
    height: 55px;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
    outline: none;
  }
  .submitBtn-writeReview{
    background-color: #ededed;
  }
  .submitBtnActive-writeReview{
    background-color: #ffba35;
  }
}
.modalGetPoint10-WriteReview{
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 100%;
  padding-bottom: 70px;
  background-color: #191919B2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-modalGetPoint10{
  position: fixed;
  top: 277px;
  width: 318px;
  height: 291px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  .title-modalGetPoint10{
    font-weight: 600;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .confirmBtn-modalGetPoint10{
    width: 285.64px;
    height: 42px;
    border-radius: 10px;
    background-color: #FFBA35;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    border: none;
    outline: none;
  }
}
/* --------------------------Arlim--------------------------- */
.silsigan-image {
  img {
    width: 480px;
    height: 109px;
  }
}
.updatediv {
  width: 480px;
  height: 94px;
  position: relative; /* updatediv를 기준으로 위치 설정 */
}

.txtdate {
  position: relative;
  width: 80px;
  height: 16px;
  left: 20px;
  top: 20px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #767676;
}

.txtupdate2 {
  position: relative;
  width: 100px;
  height: 22px;
  left: 26px;
  top: 30px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #555;
  white-space: nowrap;
}
.txtupdate2::before {
  content: "[업데이트] ";
  color: red; /* 빨간색으로 변경 */
}
.txtupdate {
  position: relative;
  width: 100px;
  height: 22px;
  left: 26px;
  top: 30px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #555;
  white-space: nowrap;
}

.txtupdate::before {
  content: "[이벤트] ";
  color: black; /* 빨간색으로 변경 */
}
.txtupdate3 {
  position: relative;
  width: 100px;
  height: 22px;
  left: 26px;
  top: 30px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #555;
  white-space: nowrap;
}
.txtupdate3::before {
  content: "[공지] ";
  color: black; /* 빨간색으로 변경 */
}

.txtline {
  width: 480px;
  height: 0px;
  border: 1px solid #dbdbdb;
  position: absolute;
  bottom: 0; /* updatediv 하단에 위치하도록 설정 */
}

.updateimg {
  position: absolute;
  left: 420px;
}

.asd {
  height: 700px;
}
